

.primary-btn {
    display: inline-block;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 10px 8px -7px #ffd978;
    transition-duration: 200ms;
}

.primary-btn:hover {
  background-color: var(--color-secondary);
  box-shadow: 0px 10px 8px -7px #69a79c;
}

